{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="main-container">

    <form method="post">
       {% csrf_token %}
       <div class="form-group">
           {{ form.username.label_tag }}
           {{ form.username }}
       </div>
       <div class="form-group">
           {{ form.password.label_tag }}
           {{ form.password }}
       </div>
       <button type="submit">Entrar</button>
   </form>


    <form action="{% url 'logout' %}"method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
</div>
{% endblock %}
