{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<a href="/"><img class="logo" src="{% static 'img/amazon_logo_dark.png' %}" alt="" width="100px"></a>
<div class="signin-container">
    <h1 class="signin-title">Fazer registro</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="form-group">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        <button type="submit">Registrar</button>
    </form>
    <p class="signin-condition">Ao continuar, você concorda com as <span>Condições de Uso</span> da Amazon. 
    Por favor verifique a <span>Notificação de Privacidade, 
    Notificação de Cookies</span> e a <span> Notificação de Anúncios Baseados em Interesse.</span></p>
    <p class="signin-help">&#9656 <span>Precisa de ajuda?</span></p>
    <hr>
    <a href="{% url 'login' %}" class="redirect"><h4> &#9656 Ja tem uma conta? clique aqui para fazer login</h4></a>
    <p class="singin-business">Compre na Amazon Business</p>

</div>

{% endblock %}