<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Amazon, e-coomerce de produtos variados">
    <meta name="keywords" content="roupas, eletrodomésticos, eletrônicos, eletro-eletrônicos
    , calçados, utensílios, decorativos, periféricos, loja, amazon, comprar amazon">
    <meta name="author" content="Ester Medeiros, Felipe Marinho, Pedro Lucas Vieira, João Henrique Dantas">
    <title>{% block title %}Amazon{% endblock %}</title>
</head>
<body>
    
    <main> 
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>