.image_content{
    align-self: center;
}

.produtos_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, auto));
    justify-items: start;
    grid-gap: 20px;

}
.produto_container{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    width: 13rem;
    margin: 20px 10px 20px 10px;
    background-color: white;
    border-radius: 8px;
    
}

.descricao_content{
    align-self: start;
    text-wrap: wrap;
}

.pagination{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}
.item{
    box-sizing: border-box;
    padding: 10px;
    color: white;
    background-color: rgb(1, 3, 20);
    transition: 0.2s ease-in-out;
}

.item:hover{
    color: rgb(1, 3, 20);
    background-color: rgb(236, 169, 0);
}
