{% extends 'base.html' %}
{% load static %}
    {% block content%}
    <link rel="stylesheet" href="{% static 'css/detalhesStyle.css' %}">

    <div class="produtos_container">

        <div class="produto_container">

            <div class="image_content">
                {% if produtos.imagem %}      
                   <img src="{{ produtos.imagem.url }}" alt="{{ produto.titulo }}" style="border-radius: 5px; height: 150px; width: 150px;">
                {% endif %}
            </div>

            <div class="descricao_content">
               <h2>{{ produtos.titulo }}</h2>
                <p>{{ produtos.descricao }}</p>
                <p>{{ produtos.preco }}</p>
            </div>
            <div>
                <button>COMPRAR</button>
            </div>

        </div>
    </div>

    {% endblock %}