{% extends 'base.html' %}

    {% block content %}
    <div class="produtos_container">
        {% for produto in produtos %}
            <div class="produto_container">
                <div class="image_content">
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.titulo }}" style="border-radius: 5px; height: 150px; max-width: 380px;">
                </div>
                <div class="descricao_content">
                    <h2>{{ produto.titulo }}</h2>
                    <p>{{ produto.descricao }}</p>
                </div>
                <div class="preco">
                    <p>{{ produto.preco }}</p>
                </div>
            </div>
            
        {% endfor %}
    </div>
    {% endblock %}